fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
geoalchemy2
pydantic
pydantic-settings
email-validator
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]

geopandas
shapely
pyproj
rasterio

numpy
pandas
scikit-learn
opencv-python

celery
redis

httpx
pytest

scikit-learn
joblib
pandas